<!DOCTYPE html>
<html>
  <head>
    <title>admin_login.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
        <a href="/adminlogin">点击登录</a>
        <a href="/adminregister">点击注册</a>
        <a href="/toproductadd">商品添加</a>
        <a href="/toproductshow">商品列表</a>
        <a href="/categoryadd">类目添加</a>
        <a href="/tocategoryshow">类目列表</a>
        <a href="/toadminusershow">用户列表</a>
        <!-- <a href="/front/categorytest">类目测试</a> -->
  </body>
</html>
